.ng-stores {
    background: url(../images/ng-bg-3.jpg) no-repeat center center;
    background-size: cover;
    color: $color-white;
    .ng-stores-inn {
        min-height: 400px;
    }
    .btn-black {
        height: 60px;
        font-size: 18px;
        min-width: 240px;
        padding:10px 30px;
        .fab {
            font-size: 24px;
        }
        &:first-child {
            border-radius: 50px 0 0 50px;
        }
        &:last-child {
            border-radius: 0 50px 50px 0;
            border-left-color: rgba($color-white, .2);
        }
    }
}
