/****** theme color variations ******/
$color-primary: #f02d2d;
$color-secondary: #2d2d2d;
$gray-100 : #f3f3f3;
$gray-200 : #e9ecef;
$gray-300 : #dee2e6;
$gray-400 : #ced4da;
$gray-500 : #808080;
$gray-600 : #666666;
$gray-700 : #4c4c4c;
$gray-800 : #333333;
$gray-900 : #1c1c1c;
$color-base: #333333;
$color-white: #ffffff;
$color-black: #000000;
$color-green:#39b54a;
$color-blue:#034ba3;
$color-purple:#871fc3;
$color-red:#f14602;
$color-pink:#ec008c;
$color-orange:#f56608;
$color-yellow:#ffff00;


$base-font: 'Montserrat', sans-serif;
